* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-size: 14px;
   font-family: Montserrat;
 }
 
 .container {
   background-color: hsl(30, 38%, 92%);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .product {
   position: relative;
   background-color: hsl(0, 0%, 100%);
   display: flex;
   border-radius: 10px;
   width: 600px;
   overflow: hidden;
 }
 
 .image{
   height: 100%;
   width: 100%;
 }
 
 .image-container,
 .details {
   width: 50%;
 }
 
 .details {
   padding: 1.5em;
   display: flex;
   flex-direction: column;
 }
 
 .type,
 .description {
   font-weight: 500;
   color: hsl(228, 12%, 48%);
   line-height: 1.75em;
 }
 
 .type {
   text-transform: uppercase;
   letter-spacing: 0.25em;
 }
 
 .price,
 .name {
   font-family: 'Fraunces', serif;
   font-size: 2em;
   font-weight: 900;
   margin: 1em 0;
 }
 
 .price {
   display: flex;
   align-items: center;
 }
 
 .new-price {
   color: hsl(158, 36%, 37%);
 }
 
 .old-price {
   text-decoration: line-through;
   color: hsl(228, 12%, 48%);
   font-size: 12px;
   font-family: Montserrat;
   margin-left: 20px;
   top: 5px;
 }
 
 .add-to-cart {
   background-color: hsl(158, 36%, 37%);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1em;
   border-radius: 10px;
   font-weight: 700;
   margin-bottom: 1em;
   cursor: pointer;
 }
 
 .add-to-cart:hover {
   background-color: #1a4031;
 }
 
 .cart-icon {
   margin-right: 10px;
 }
  
 @media screen and (max-width: 700px) {
   .product {
     flex-direction: column;
     max-width: 400px;
   }
 
   .image-container,
   .details {
     width: 100%;
   }
 
   .image-container {
     max-height: 300px;
     overflow: hidden;
   }
 }
 
   .attribution { font-size: 11px; text-align: center; }
   .attribution a { color: hsl(228, 45%, 44%); }